In [2]:
import pandas as pd
import numpy as np

In [6]:
df= pd.read_csv('/Users/suhaniagarwal/Desktop/ilgc_website_2/gfg/INDIA_LAT_LONG.csv')
df

,key,place_name,admin_name1,latitude,longitude,accuracy
0,IN/110001,Connaught Place,New Delhi,28.6333,77.2167,4.0
1,IN/110002,Darya Ganj,New Delhi,28.6333,77.2500,4.0
2,IN/110003,Aliganj,New Delhi,28.6500,77.2167,NaN
3,IN/110004,Rashtrapati Bhawan,New Delhi,28.6500,77.2167,NaN
4,IN/110005,Lower Camp Anand Parbat,New Delhi,28.6500,77.2000,NaN
...,...,...,...,...,...,...
11037,IN/855116,Thakurganj,Bihar,24.9833,81.0583,NaN
11038,IN/855117,Taiyabpur,Bihar,24.9833,81.0583,NaN
11039,IN/855119,Terhagachi,Bihar,24.9833,81.0583,NaN
11040,IN/855121,Balarampur,Bihar,24.9833,81.0583,NaN
11041,IN/855126,Tulsia,Bihar,24.9833,81.0583,NaN

In [36]:
df["pincode"]=df["key"].str.split("/").str.get(1)
df["pincode"]

0        110001
1        110002
2        110003
3        110004
4        110005
          ...
11037    855116
11038    855117
11039    855119
11040    855121
11041    855126
Name: pincode, Length: 11042, dtype: object

In [33]:
def search(row,latitude,longitude):
    if row['latitude'] == latitude and row['longitude'] == longitude:
        print('Found the value 3 in column1 and the value 9 in column2 at index')
        
        
latitude=28.6500
longitude=77.2167
df.apply(search,axis=1,args=(latitude,longitude))

Found the value 3 in column1 and the value 9 in column2 at index
Found the value 3 in column1 and the value 9 in column2 at index
Found the value 3 in column1 and the value 9 in column2 at index
Found the value 3 in column1 and the value 9 in column2 at index

0        None
1        None
2        None
3        None
4        None
         ...
11037    None
11038    None
11039    None
11040    None
11041    None
Length: 11042, dtype: object

In [34]:
def search(latitude,longitude):
    for index, row in df.iterrows():
        if row['latitude'] == latitude and row['longitude'] == longitude:
            print('Found the value 3 in column1 and the value 9 in column2 at index', index)
        
latitude=28.6500
longitude=77.2167
search(latitude,longitude)

Found the value 3 in column1 and the value 9 in column2 at index 2
Found the value 3 in column1 and the value 9 in column2 at index 3
Found the value 3 in column1 and the value 9 in column2 at index 5
Found the value 3 in column1 and the value 9 in column2 at index 7

In [35]:
def search(pincode):
    for index, row in df.iterrows():
        if row['pincode'] == pincode:
            print('Found the value 3 in column1 and the value 9 in column2 at index', index)

            print(row['latitude'] ,row['longitude'])
            #print('Found the value 3 in column1 and the value 9 in column2 at index', index)
        
pincode=110001
search(pincode)

None